<section class="bg-welcome min-h-screen rounded-br-[100px] rounded-tr-[100px] shadow">
    <div class="pt-20 ps-10 xl:ps-20 max-w-[582px] ff-poppins space-y-[10px] rounded-tr-[100px]">
      <h1 class="text-5xl xl:text-[3.5rem] font-bold py-5">Welcome to</h1>
      <h2 class="text-5xl xl:text-[3.5rem] text-main-color font-bold">Elevate</h2>
      <p class="font-normal py-5">Quidem autem voluptatibus qui quaerat aspernatur architecto natus</p>
      <img src="./Images/auth/bro.svg" alt="bro" class="mt-[80px]">
    </div>
</section>
