<section class="mt-8 mb-15">
  <div class="md:max-w-sm lg:max-w-md max-w-md mx-auto">
    <h3 class="ff-inter font-bold text-2xl">Sign up</h3>
    <form class="" [formGroup]="signUpFormGroup" (ngSubmit)="signUp()">
      <div class="flex flex-col mt-5">
        <div class="flex flex-col mb-8">
          @let firstNameControl = signUpFormGroup.get('firstName');
          <input type="text" id="firstName" formControlName="firstName" [ngClass]="{'border-red-400': firstNameControl?.touched && firstNameControl!.invalid }" class="shadow-main-box-shadow border border-main-border-color rounded-lg p-3 bg-main-bg-inputs" placeholder="First name">
          <app-validation-messages [controls]="firstNameControl"></app-validation-messages>
        </div>
        <div class="flex flex-col mb-8">
          @let lastNameControl = signUpFormGroup.get('lastName');
          <input type="text" id="lastName" formControlName="lastName" [ngClass]="{'border-red-400': lastNameControl?.touched && lastNameControl!.invalid }" class="shadow-main-box-shadow border border-main-border-color rounded-lg p-3 bg-main-bg-inputs" placeholder="Last name">
          <app-validation-messages [controls]="lastNameControl"></app-validation-messages>
        </div>
        <div class="flex flex-col mb-8">
          @let emailControl = signUpFormGroup.get('email');
          <input type="email" id="email" formControlName="email" [ngClass]="{'border-red-400': emailControl?.touched && emailControl!.invalid }" class="shadow-main-box-shadow border border-main-border-color rounded-lg p-3 bg-main-bg-inputs" placeholder="Email">
          <app-validation-messages [controls]="emailControl"></app-validation-messages>
        </div>
        <div class="flex flex-col mb-8">
          @let phoneControl = signUpFormGroup.get('phone');
          <input type="text" id="phone" formControlName="phone" [ngClass]="{'border-red-400': phoneControl?.touched && phoneControl!.invalid }" class="shadow-main-box-shadow border border-main-border-color rounded-lg p-3 bg-main-bg-inputs" placeholder="Phone">
          <app-validation-messages [controls]="phoneControl"></app-validation-messages>
        </div>
        <div class="flex flex-col mb-8 relative">
          @let passwordControl = signUpFormGroup.get('password');
          <input [type]="isShowPassword? 'text' : 'password'" formControlName="password" id="password" [ngClass]="{'border-red-400': passwordControl?.touched && passwordControl!.invalid }" class="shadow-main-box-shadow border border-main-border-color rounded-lg p-3 bg-main-bg-inputs" placeholder="Password">
          <button type="button" class="absolute top-4 right-5 cursor-pointer" (click)="showPassword()"><img src="./Images/auth/Group.svg"></button>
          <app-validation-messages [controls]="passwordControl"></app-validation-messages>
        </div>
        <div class="flex flex-col mb-4 relative">
          @let rePasswordControl = signUpFormGroup.get('rePassword');
          <input [type]="isShow_rePassword? 'text' : 'password'" id="rePassword" formControlName="rePassword" [ngClass]="{'border-red-400': rePasswordControl?.touched && rePasswordControl!.invalid }" class="shadow-main-box-shadow border border-main-border-color rounded-lg p-3 bg-main-bg-inputs" placeholder="Confirm Password">
          <button type="button" class="absolute top-4 right-5 cursor-pointer" (click)="show_rePassword()"><img src="./Images/auth/Group.svg"></button>
          <app-validation-messages [controls]="rePasswordControl"></app-validation-messages>
        </div>
        <div class="ff-poppins font-normal text-center">
          <p class="inline-block">Already have an account?</p>
          <a routerLink="/signin" class="inline-block ps-2 text-second-color">Login</a>
        </div>
        <app-auth-btn [formGroup]="signUpFormGroup" [isLoading]="isLoading" [btnTitle]="btnTitle"></app-auth-btn>
        <app-social></app-social>
      </div>
    </form>
  </div>
</section>
