<div class="space-x-3.5 space-y-5 pt-8">
  <!-- Line Continue -->
  <div class="relative flex items-center justify-center w-full ">
    <span class="absolute left-0 w-[32%] h-px bg-gray-300"></span>
    <p class="px-4 text-[#6C737F]">Or Continue with</p>
    <span class="absolute right-0 w-[32%] h-px bg-gray-300"></span>
  </div>
  <!-- Social Icons -->
  <div class="flex gap-10 justify-center items-center pt-4">
    <div class="cursor-pointer p-3 shadow-social-shadow border border-main-border-color rounded-xl bg-white">
      <img src="./Images/auth/Logo Google.svg" alt="logo" class="w-6 h-6">
    </div>
    <div class="cursor-pointer p-3 shadow-social-shadow border border-main-border-color rounded-xl bg-white">
      <img src="./Images/auth/Logo.svg" alt="logo" class="w-6 h-6">
    </div>
    <div class="cursor-pointer p-3 shadow-social-shadow border border-main-border-color rounded-xl bg-white">
      <img src="./Images/auth/Logof.svg" alt="logo" class="w-6 h-6">
    </div>
    <div class="cursor-pointer p-3 shadow-social-shadow border border-main-border-color rounded-xl bg-white">
      <img src="./Images/auth/Logoa.svg" alt="logo" class="w-6 h-6">
    </div>
  </div>
</div>
